{% extends 'base.html' %}

{% block head %}
<title>{{ onetime_link.name }} bearbeiten</title>
{% endblock %} 

{% block main %}
<article class="white-block">
  <div class="top-cat-title">
    <h2>"{{ onetime_link.name }}" bearbeiten</h2>
  </div>
  <br />
  <form method="POST">
    {% csrf_token %}
    <ul class="top-cat-list">
      <li>
        <div class="row">
          <div class="col-md-6">
            <label class="form-label-wrapper">
              <p class="form-label">Name</p>
              <input
                id="name"
                name="name"
                class="form-input"
                type="text"
                value="{{ onetime_link.name }}"
                required
              />
            </label>
          </div>
          <div class="col-md-6">
            <label class="form-label-wrapper">
              <p class="form-label">Ablaufdatum</p>
              <input
                id="token_expiry_date"
                name="token_expiry_date"
                class="form-input"
                type="date"
                value="{{ onetime_link.token_expiry_date|date:'Y-m-d' }}"
                required
              />
            </label>
          </div>
        </div>
      </li>
      <br />
      {% if link_type == 'message' %}
      <li>
        <div class="row">
          <div class="col-md-12">
            <label class="form-label-wrapper">
              <p class="form-label">Nachricht</p>
              <textarea
                id="message"
                name="message"
                class="form-input"
                style="height:250px;"
                required
              />{{ onetime_link.message }}</textarea>
            </label>
          </div>
        </div>
      </li>
      {% elif link_type == 'password' %}
      <li>
        <div class="row">
          <div class="col-md-6">
            <label class="form-label-wrapper">
              <p class="form-label">Benutzername</p>
              <input
                id="username"
                name="username"
                class="form-input"
                type="text"
                value="{{ onetime_link.username }}"
              />
            </label>
          </div>
          <div class="col-md-6">
            <label class="form-label-wrapper">
              <p class="form-label">Passwort</p>
              <input
                id="password"
                name="password"
                class="form-input"
                type="text"
                value="{{ onetime_link.password }}"
                required
              />
            </label>
          </div>
        </div>
      </li>
      {% endif %}
      <li>
        <div class="row">
          <div class="col-md-6">
            <label class="form-label-wrapper">
              <p class="form-label">Geöffnet?</p>
              <input
                id="opend"
                name="opend"
                class="form-input"
                type="checkbox"
                value="checked"
                {% if onetime_link.opend %}
                checked
                {% endif %}
              />
            </label>
          </div>
          <div class="col-md-6">
            <label class="form-label-wrapper">
              <p class="form-label">Öffner</p>
              <input
                id="name_of_opener"
                name="name_of_opener"
                class="form-input"
                type="text"
                {% if onetime_link.name_of_opener != None %}
                value="{{ onetime_link.name_of_opener }}"
                {% endif %}
              />
            </label>
          </div>
        </div>
      </li>
    </ul>
    <br />
    <br />
    <div class="row">
      <div class="col-md-1">
        <form>
          <button
            class="form-btn primary-default-btn transparent-btn"
            type="submit"
          >
            Speichern
          </button>
        </form>
      </div>
    </div>
  </form>
</article>
{% endblock %}
