{% extends 'base.html' %}

{% block head %}
  <title>Home</title>
{% endblock %}

{% block main %}
  <h2 class="main-title">Letzte Einmallinks</h2>
  <div class="users-table table-wrapper">
    <table class="posts-table">
      <thead>
        <tr class="users-table-info">
          <th>Name</th>
          <th>Öffner</th>
          <th>Status</th>
          <th>Ablauf Datum</th>
          <th>Aktion</th>
        </tr>
      </thead>
      <tbody>
        {% for model in all_models %}
        <tr>
          <td><a href='{{ model.url }}' target="_blank" class="link">{{ model.name }}</a></td>
          {% if model.name_of_opener != None %}
            <td>{{ model.name_of_opener }}</td>
          {% else %}
            <td></td>
          {% endif %}
          {% if model.status == 'opend' %}
            <td><span class="badge-pending">geöffnet</span></td>
          {% elif model.status == 'expired' %}
            <td><span class="badge-trashed">abgelaufen</span></td>
          {% else %}
            <td><span class="badge-success">nicht geöffnet</span></td>
          {% endif %}
          <td>{{ model.token_expiry_date }}</td>
          <td>
            <span class="p-relative">
              <button class="dropdown-btn transparent-btn" type="button" title="Mehr Infos">
                <div class="sr-only">Mehr Infos</div>
                <i data-feather="more-horizontal" aria-hidden="true"></i>
              </button>
              <ul class="users-item-dropdown dropdown">
                <li>
                  <a href="{{ model.edit_url }}">Bearbeiten</a>
                </li>
                <li>
                  <a href="##">Duplizieren</a>
                </li>
                <li>
                  <a href="##">Löschen</a>
                </li>
              </ul>
            </span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
