<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'base/img/svg/logo.svg' %}"
    />
    <!-- Custom styles -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'base/css/style.min.css' %}"
    />
    {% if status == 'password_link_aviable' or status == 'password_link_aviable_and_open' %}
    <title>Geteiltes Passwort</title>
    {% elif status == 'message_link_aviable' or status == 'message_link_aviable_and_open' %}
    <title>Geteilte Nachricht</title>
    {% elif status == 'link_not_aviable_anymore' %}
    <title>Link abgelaufen</title>
    {% else %}
    <title>Link nicht gefunden</title>
    {% endif %}
  </head>

  <body>
    <div class="layer"></div>
    <!-- ! Body -->
    <a class="skip-link sr-only" href="#skip-target">Skip to content</a>
    <div class="page-flex">
      <div class="main-wrapper">
        <nav class="main-nav--bg">
          <div class="container main-nav">
            <!-- Optionale Suche -->
            <div class="main-nav-start">
              <!--<div class="search-wrapper">
                <i data-feather="search" aria-hidden="true"></i>
                <input type="text" placeholder="Enter keywords ..." required>
            </div>-->
            </div>
            <div class="main-nav-end">
              <button
                class="sidebar-toggle transparent-btn"
                title="Menu"
                type="button"
              >
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle--gray" aria-hidden="true"></span>
              </button>
              <button
                class="theme-switcher gray-circle-btn"
                type="button"
                title="Theme wechseln"
              >
                <span class="sr-only">Theme wechseln</span>
                <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
                <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </nav>
        <main class="main users chart-page" id="skip-target">
          <div class="container">
            {% if status == 'link_not_aviable' %}
            <h1 class="status-title">Kein solcher Link vorhanden</h1>
            {% elif status == 'password_link_aviable' %}
            <article class="white-block">
              <div class="top-cat-title">
                <h2>Hier kannst du das Passwort für "{{ name }}" öffnen</h2>
                <h2>Bitte trage deinen Namen ein</h2>
              </div>
              <br />
              <form method="POST">
                {% csrf_token %}
                <ul class="top-cat-list">
                  <li>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="form-label-wrapper">
                          <p class="form-label">Name</p>
                          <input
                            id="name"
                            name="name"
                            class="form-input"
                            type="text"
                            required
                          />
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
                <br />
                <br />
                <div class="row">
                  <div class="col-md-2">
                    <form>
                      <button
                        class="form-btn primary-default-btn transparent-btn"
                        type="submit"
                      >Passwort öffnen</button>
                    </form>
                  </div>
                </div>
              </form>
            </article>
            {% elif status == 'message_link_aviable' %}
            <article class="white-block">
              <div class="top-cat-title">
                <h2>Hier kannst du die Nachricht für "{{ name }}" öffnen</h2>
                <h2>Bitte trage deinen Namen ein</h2>
              </div>
              <br />
              <form method="POST">
                {% csrf_token %}
                <ul class="top-cat-list">
                  <li>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="form-label-wrapper">
                          <p class="form-label">Name</p>
                          <input
                            id="name"
                            name="name"
                            class="form-input"
                            type="text"
                            required
                          />
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
                <br />
                <br />
                <div class="row">
                  <div class="col-md-2">
                    <form>
                      <button
                        class="form-btn primary-default-btn transparent-btn"
                        type="submit"
                      >
                        Nachricht öffnen
                      </button>
                    </form>
                  </div>
                </div>
              </form>
            </article>
            {% elif status == 'password_link_aviable_and_open' %} 
            {% if share_username == '' or share_username == null %}
            <article class="white-block">
              <div class="top-cat-title">
                <h2 style="text-align: center">Passwort für "{{ name }}"</h2>
              </div>
              <br />
              <ul class="top-cat-list">
                <li>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="form-label-wrapper">
                        <p class="form-label">Passwort</p>
                        <div class="copy-link">
                          <input
                            id="name"
                            name="name"
                            class="form-input password-share copy-link-input"
                            value="{{ password }}"
                            type="password"
                            readonly
                          />
                          <button type="button" class="copy-link-button">
                            <span class="icon paper-download"></span>
                          </button>
                        </div>
                      </label>
                    </div>
                  </div>
                </li>
              </ul>
            </article>
            {% else %}
            <article class="white-block">
              <div class="top-cat-title">
                <h2 style="text-align: center">Passwort für "{{ name }}"</h2>
              </div>
              <br />
              <ul class="top-cat-list">
                <li>
                  <div class="row">
                    <div class="col-md-6">
                      <label class="form-label-wrapper">
                        <p class="form-label">Benutzername</p>
                        <div class="copy-link">
                          <input
                            id="name"
                            name="name"
                            class="form-input password-share copy-link-input"
                            value="{{ share_username }}"
                            type="text"
                            readonly
                          />
                          <button type="button" class="copy-link-button">
                            <span class="icon paper-download"></span>
                          </button>
                        </div>
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label-wrapper">
                        <p class="form-label">Passwort</p>
                        <div class="copy-link">
                          <input
                            id="name"
                            name="name"
                            class="form-input password-share copy-link-input"
                            value="{{ password }}"
                            type="password"
                            readonly
                          />
                          <button type="button" class="copy-link-button">
                            <span class="icon paper-download"></span>
                          </button>
                        </div>
                      </label>
                    </div>
                  </div>
                </li>
              </ul>
            </article>
            {% endif %}
            {% elif status == 'message_link_aviable_and_open' %}
            <article class="white-block">
              <div class="top-cat-title">
                <h2 style="text-align: center">Nachricht für "{{ name }}"</h2>
              </div>
              <br />
              <ul class="top-cat-list">
                <li>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="form-label-wrapper">
                        <p class="form-label">Nachricht</p>
                        <textarea
                          id="message"
                          name="message"
                          class="form-input"
                          style="height: 250px"
                          readonly
                        />{{ message }}</textarea>
                      </label>
                    </div>
                  </div>
                </li>
              </ul>
            </article>
            {% elif status == 'link_not_aviable_anymore' %}
            <h1 class="status-title">Dieser Link ist abgelaufen oder schon geöffnet worden</h1>
            {% endif %}
          </div>
        </main>
        <!-- ! Footer -->
        {% include 'footer.html' %}
      </div>
    </div>
    <!-- Chart library -->
    <script src="{% static 'base/plugins/chart.min.js' %}"></script>
    <!-- Icons library -->
    <script src="{% static 'base/plugins/feather.min.js' %}"></script>
    <!-- Custom scripts -->
    <script src="{% static 'base/js/script.js' %}"></script>
    <!-- clipboard script -->
    <script src="{% static 'base/js/clipboard-script.js' %}"></script>
  </body>
</html>
